<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>

    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.11.7/css/dataTables.bootstrap5.min.css"
    />
    <title>Tambah Barang</title>
  </head>

  <body>
    <nav
      th:replace="~{fragments/navbar :: navbar(activeSection='Gudang')}"
    ></nav>
    <div class="container">
      <div class="text-center pt-5"></div>
      <div class="row justify-content-center">
        <div class="card" style="width: 50rem">
          <div class="card-body">
            <div th:if="${message}" class="alert alert-success">
              <span th:text="${message}"></span>
            </div>
            <div class="row mb-2">
              <h2 class="text-center">Tambah Barang</h2>
            </div>
            <form
              th:action="@{/barang/tambah}"
              th:object="${barangDTO}"
              method="POST"
            >
              <div class="form-group">
                <label for="merk">Merk Barang</label>
                <input
                  type="text"
                  class="form-control"
                  id="merk"
                  th:field="*{merk}"
                  required
                />
              </div>
              <div class="mb-3"></div>
              <div class="form-group">
                <label for="tipe_barang">Tipe Barang :</label>
                <select
                  class="form-control"
                  id="tipe_barang"
                  th:field="*{tipe_barang}"
                  required
                >
                  <option
                    th:each="entry : ${barangDTO.opsiTipe.entrySet()}"
                    th:value="${entry.key}"
                    th:text="${entry.value}"
                  ></option>
                </select>
              </div>
              <div class="mb-3"></div>
              <div class="form-group">
                <label for="harga_barang">Harga Barang:</label>
                <input
                  type="number"
                  class="form-control"
                  id="harga_barang"
                  th:field="*{harga_barang}"
                  min="1"
                  required
                />
              </div>
              <div class="mb-3"></div>
              <button class="btn btn-primary" type="submit">Simpan</button>
              <button
                class="btn btn-danger"
                type="button"
                onclick="window.history.back();"
              >
                Kembali
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
