<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"
    />

    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <title>Tambah Barang</title>
  </head>

  <body>
    <nav
      th:replace="~{fragments/navbar :: navbar(activeSection='Barang')}"
    ></nav>
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <div class="row align-items-center">
                <div class="col-6">
                  <h2 class="m-0">Tambah Barang</h2>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div th:if="${message}" class="alert alert-success">
                <span th:text="${message}"></span>
              </div>
              <div th:if="${errormessage}" class="alert alert-danger">
                <span th:text="${errormessage}"></span>
              </div>
              <form
                th:action="@{/barang/tambah}"
                th:object="${barangDTO}"
                method="POST"
              >
                <div class="mb-3">
                  <label for="merk">Merk Barang</label>
                  <input
                    type="text"
                    class="form-control"
                    id="merk"
                    th:field="*{merk}"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="tipe_barang">Tipe Barang:</label>
                  <select
                    class="form-select"
                    id="tipe_barang"
                    th:field="*{tipe_barang}"
                    required
                  >
                    <option value="0">Pilih tipe</option>
                    <option
                      th:each="entry : ${barangDTO.opsiTipe.entrySet()}"
                      th:value="${entry.key}"
                      th:text="${entry.value}"
                    ></option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="harga_barang">Harga Barang:</label>
                  <input
                    type="number"
                    class="form-control"
                    id="harga_barang"
                    th:field="*{harga_barang}"
                    min="1"
                    required
                  />
                </div>
                <div class="mb-3">
                  <button class="btn btn-primary" type="submit">Simpan</button>
                  <button
                    class="btn btn-danger"
                    type="button"
                    onclick="window.history.back();"
                  >
                    Kembali
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
