<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"
    />

    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <title>Daftar Barang</title>
  </head>
  <body>
    <nav
      th:replace="~{fragments/navbar :: navbar(activeSection='Barang')}"
    ></nav>
    <div class="container">
      <div class="text-center pt-5">
        <h2>Daftar Barang</h2>
        <br />
        <a class="btn btn-primary" th:href="@{/barang/tambah}"
          >+ Tambah Barang</a
        >
      </div>
      <br />

      <div class="table-responsive">
        <table
          id="barangTable"
          class="table table-striped table-bordered text-center"
        >
          <thead class="table-dark">
            <tr>
              <th>#</th>
              <th>SKU</th>
              <th>Merk</th>
              <th>Stok</th>
              <th>Harga</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="barang, iterationStatus : ${listBarang}">
              <td th:text="${iterationStatus.index + 1}"></td>
              <td th:text="${barang.SKU}"></td>
              <td th:text="${barang.merk}"></td>
              <td th:text="${barang.stok}"></td>
              <td th:text="${barang.harga_barang}"></td>
              <td>
                <a
                  type="button"
                  class="btn btn-sm btn-primary"
                  th:href="@{/barang/{id}(id=${barang.SKU})}"
                  >Detail</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="https://cdn.datatables.net/1.11.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.7/js/dataTables.bootstrap5.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#barangTable").DataTable({
          searching: false,
          lengthMenu: [5, 10, 25, 50, 100],
          pageLength: 10,
          columnDefs: [
            {
              targets: -1,
              orderable: false,
            },
          ],
        });
      });
    </script>
  </body>
</html>
