<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"
    />

    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <title>Daftar Gudang</title>
  </head>

  <body>
    <nav
      th:replace="~{fragments/navbar :: navbar(activeSection='Gudang')}"
    ></nav>
    <div class="container">
      <div class="text-center pt-5">
        <h2>Daftar Gudang</h2>
      </div>

      <div class="table-responsive">
        <table
          id="gudangTable"
          class="table table-striped table-bordered text-center"
        >
          <thead class="table-dark">
            <tr>
              <th>#</th>
              <th>Nama</th>
              <th>Alamat Gudang</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="gudang, iterationStatus : ${listGudang}">
              <td
                class="font-weight-bold"
                th:text="${iterationStatus.index + 1}"
              ></td>
              <td th:text="${gudang.nama}"></td>
              <td th:text="${gudang.alamat_gudang}"></td>
              <td>
                <a
                  type="button"
                  class="btn btn-sm btn-primary"
                  th:href="@{/gudang/{id}(id=${gudang.id})}"
                  >Detail</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>

<script>
  $(document).ready(function () {
    $("#gudangTable").DataTable({
      searching: false,
      lengthMenu: [5, 10, 25, 50, 100],
      pageLength: 10,
      columnDefs: [
        {
          targets: -1,
          orderable: false,
        },
      ],
    });
  });
</script>
