<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>

    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.11.7/css/dataTables.bootstrap5.min.css"
    />
    <title>Cancel Permintaan Pengiriman</title>
  </head>
  <body>
    <nav
      th:replace="~{fragments/navbar :: navbar(activeSection='PermintaanPengiriman')}"
    ></nav>
    <div class="container">
      <div class="text-center pt-5">
        <!-- Card for Success Message -->
        <div th:if="${successMessage}" class="card border-success mb-3">
          <div class="card-header bg-success text-white">
            <i class="bi bi-check-circle-fill mr-2"></i> Success
          </div>
          <div class="card-body">
            <p class="card-text" th:text="${successMessage}"></p>
          </div>
        </div>

        <!-- Card for Error Message -->
        <div th:if="${errorMessage}" class="card border-danger mb-3">
          <div class="card-header bg-danger text-white">
            <i class="bi bi-x-circle-fill mr-2"></i> Error
          </div>
          <div class="card-body">
            <p class="card-text" th:text="${errorMessage}"></p>
          </div>
        </div>
      </div>
    </div>

    <!-- DataTables scripts remain unchanged -->
    <script src="https://cdn.datatables.net/1.11.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.7/js/dataTables.bootstrap5.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#gudangTable").DataTable({
          columnDefs: [
            {
              targets: -1,
              orderable: false,
            },
          ],
        });
      });
    </script>
  </body>
</html>
