<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <title>Home</title>
  </head>

  <body>
    <nav
      th:fragment="navbar(activeSection)"
      class="navbar navbar-expand-lg navbar-dark bg-primary"
    >
      <a class="navbar-brand fw-bold text-light ms-3" href="/">SILOGISTIK</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li
            class="nav-item dropdown"
            th:classappend="${activeSection == 'Gudang'} ? 'active fw-bold' : ''"
          >
            <a
              class="nav-link dropdown-toggle text-light"
              role="button"
              data-bs-toggle="dropdown"
              data-bs-target="#gudangDropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Gudang
            </a>
            <ul class="dropdown-menu" id="gudangDropdown">
              <li>
                <a class="dropdown-item" th:href="@{/gudang}">Daftar Gudang</a>
              </li>
              <li>
                <a class="dropdown-item" th:href="@{/gudang/cari-barang}"
                  >Cari Barang</a
                >
              </li>
            </ul>
          </li>
          <li
            class="nav-item"
            th:classappend="${activeSection == 'Barang'} ? 'active fw-bold' : ''"
          >
            <a class="nav-link text-light" th:href="@{/barang}">Barang</a>
          </li>
          <li
            class="nav-item"
            th:classappend="${activeSection == 'PermintaanPengiriman'} ? 'active fw-bold' : ''"
          >
            <a class="nav-link text-light" th:href="@{/permintaan-pengiriman} "
              >Permintaan Pengiriman</a
            >
          </li>
          <li
            class="nav-item"
            th:classappend="${activeSection == 'Bonus'} ? 'active fw-bold' : ''"
          >
            <a
              class="nav-link text-light"
              th:href="@{/filter-permintaan-pengiriman}"
              >Bonus</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
